name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: uv run --group docs mkdocs gh-deploy --strict --force

      - name: Test docs
        if: github.event_name == 'pull_request'
        run: uv run --group docs mkdocs build --strict
      
      - uses: actions/upload-artifact@v5
        with:
          name: docs
          path: site
